server:
  port: 8002

mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: org.ethan.cloud.entries
  mapper-locations: classpath:mybatis/mapper/*.xml
spring:
  application:
    name: micro-cloud-dept
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/cloud02?characterEncoding=utf8&useSSL=true
    username: root
    password: 123456
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-idle: 5
      max-wait-millis: 200
      test-while-idle: false
##eureka客户端要向Eureka服务端注册的地址
eureka:
  client:
    service-url:
      #defaultZone: http://localhost:7001/eureka
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka
  instance:
    instance-id: micro-cloud-dept-8002   #使用这个名字在eureka注册显示
    prefer-ip-address: true   #访问路径使用IP地址

info:
  app.name: learn-micro-cloud
  company.name: ethan
  build.artifactId: $project.artifactId$
  build.version: $project.version$